[Unit]
Description=Configure monitors
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/autorandr --change --force
Type=oneshot
RemainAfterExit=false
